/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*----------------------------BODY--------------------------------------------------------------------------------------*/
.content__title {}

/*----------------------------FIRST MEM---------------------------------------------------------------------------------*/

.firstBlock {}

.blockOne__memOne {}

.activeBlock {}

.firstBlock__title {}

.firstBlock__img {}

/*----------------------------SECOND MEM--------------------------------------------------------------------------------*/
.secondBlock {}

.blockTwo__memTwo {}

.active {}

.secondBlock__title {}

.secondBlock__img {}

/*----------------------------THIRD MEM---------------------------------------------------------------------------------*/
.thirdBlock {}

.blockThree__memThree {}

.active {}

.thirdBlock__title {}

.thirdBlock__img {}

/*----------------------------FOURTH MEM--------------------------------------------------------------------------------*/
.fourthBlock {}

.blockFour__memFour {}

.active {}

.fourthBlock__title {}

.fourthBlock__img {}